@font-face{
    font-family: "Inconsolata";  
    src: url("../../public/font/Inconsolata/static/Inconsolata-Regular.ttf");
}


@font-face{
    font-family: "Inconsolatabold";  
    src: url("../../public/font/Inconsolata/static/Inconsolata_Condensed-Bold.ttf");
}

@font-face{
    font-family: "Inconsolatalight";  
    src: url("../../public/font/Inconsolata/static/Inconsolata_Condensed-Light.ttf");
}